.badge {
  color: white;
	background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 0.7em;
}
