.icons-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.icons-row__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-row__icons i {
  font-size: 35px;
}

.icons-row__icons span {
  margin-top: 18px;
}

