@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

.media-info-msg {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

@media screen and (max-width: 650px) {
  .media-info-msg {
    opacity: 0;
  }
}

