.box {
  background: Blue;
  width: 300px;
  height: 300px;
  display: inline-block;
  color: White;
  /* display: inline        inline과 inline-box의 차이 : inline은 직선 안에 있는 것으로 '넓이(box)'의 속성을 잃어 버린다.   */
}

.box:nth-child(2) {
  margin-left: 35px;
}

.box:nth-child(3) {
  margin-left: 20px;
}

/* fluxbox는 child랑 대화하지 않는다.  */
