/* 2.5 Shortcuts */

body {
  background: White;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: #2ecc71;
  grid-column: 1 / 5;
  grid-column: span 4;
}

.content {
  background-color: #3498db;
  grid-column: 1 / -2;
  grid-row: 2 / 4;
  grid-row: 2 / span 2;
}

.nav {
  background-color: #8e44ad;
  grid-row: span 2;
}

.footer {
  background-color: #f39c12;
  grid-column: 1 / -1;
  grid-column: span 4;
}

/*
(grid-column-start: 1;
grid-column-end: 4;)
=> grid-column: 1 / 4로 바꿔서 표현 할 수 있다
또, grid-column: 1 / -1하면 첫line부터 마지막 line까지 설정(맨 뒷줄부터 -1, -2... )

span => span은 얼만큼의 공간을 차지하는지 보여줌
gird-column: span 2; => 2열의 공간을 차지함.
grid-row: span 2; => 2행의 공간을 차지함.
but 시작line과 끝line을 표현하지 않음. 다른 요소와 관계를 봐야함
  ex)
  nav태그에서 grid-row: 1 / 3; 으로 되어있고,
  content태그에서 grid-row: span 2;이면 content가 표현되지 않음
  시작점이 없기 때문.
*/ 
