/* 2.9 Place Content */

body {
  background: White;
}

.grid {
  display: grid;
  gap: 10px;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);    /* grid에서 가질 수 있는 공간 만큼 가지고 4번 반복 */
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: stretch;
  place-items: stretch center;    /* 세로 가로 */
}

.header {
  background-color: #2ecc71;
}

.content {
  background-color: #3498db;
}

.nav {
  background-color: #8e44ad;
}

.footer {
  background-color: #f39c12;
}

/*
● justify-items
● align-items
● place-items: (수직) (수평);

▷ stretch : grid를 늘려서 grid를 채우게 한다.
▷ start : item을 cell 시작에 배치한다.
▷ center : item을 cell 중앙에 배치한다.
▷ end : item을 cell 끝에 배치한다.

grid에서 justify-items와 align-items는 grid-cell(grid item)의 내부 contents의 배치 방식을 일괄적으로 적용할 때 사용한다.
=> flexbox에서의 의미와 다르다는 점을 잊지 말자.

grid에서 justify-items와 align-items를 동시에 지정할 때는 place-items를 사용하면 된다.
*/ 
