/* 2.10 Auto Columns and Rows */

body {
  background: White;
}

.grid {
  background: Gray;
  color: White;
  display: grid;
  gap: 5px;
  height: 50vh;
  grid-template-columns: repeat(4, 100px);    /* grid에서 가질 수 있는 공간 만큼 가지고 4번 반복 */
  grid-template-rows: repeat(4, 100px);
}

.item:nth-child(odd) {
  background-color: #2ecc71;
  color: White;
}

.item:nth-child(even) {
  background-color: #3498db;
  color: White;
}

/*
● align-self
● justify-self
● place-self: (수직) (수평);
▷ child에만 적용돠는 property이다.

● grid-auto-rows: (크기);
▷ 만들어놓은 row보다 더 많은 content가 있으면, 자동으로 row를 만들어라.

● grid-auto-flow: (방향); [기본값: row]
▷ flex-direction과 비슷하다.
▷ row가 끝날 때 새로운 row를 만들지, 새로운 column을 만들지 결정한다.

● grid-auto-columns: (크기);
▷ grid-auto-flow: column;일때 작동한다.
*/ 
