# ===== OS =====
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# ===== Editor / IDE =====
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# ===== Vim =====
[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
Session.vim
Sessionx.vim
.netrwhist
*~
tags
[._]*.un~

# ===== Node =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.parcel-cache
.eslintcache

# ===== Python =====
__pycache__/
venv/
.venv/
bin
include
lib
pyvenv.cfg

# ===== Build output =====
.next/
.next/telemetry
out/
dist/
dist-ssr
turbo/

# ===== Logs =====
logs/
*.log
*.local

# ===== Env variables =====
.env*
!.env.example

# ===== Misc temp =====
*.bak
*.tmp
*.pid
coverage/

# ===== Project specific =====
cats_dogs/
.aider*
