/*헤더 바*/
header {
  margin-top: 10px;
  border-bottom: 1px solid #edede0;
}

/*인포 바*/
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.info-bar__time {
  font-size: 15px;
  font-weight: bold;
}

.info-bar__icons img {
  height: 16px;
}

/*메뉴 바*/
.menu-bar__locaiton {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 23px;
  font-weight: bold;
}

.menu-bar__locaiton img,
.menu-bar__icons img {
  width: 30px;
}

.menu-bar__icons img {
  margin: 0 5px
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
