:root {
  --main-color: rgb(149, 191, 71);
  --sub-color: tomato;
}

.box_transition {
  /* transition: CSS 속성의 값 변화가 시간에 따라 부드럽게 일어나도록 함.*/
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  border: 1px solid black;
}

.box_transition:hover {
  width: 100px;
  height: 100px;
  transition: all 0.3s ease-in-out;
}

.box_transfrom {
  /* transform: 요소를 2D 또는 3D 공간에서 변형함(에니메이션은 없음)*/
  width: 50px;
  height: 50px;
  margin-top: 50px;
  background-color: var(--sub-color);
  border: 1px solid black;
}

.box_transfrom:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(2) translate(20px, 20px) rotate(45deg);
}


.box_animation {
  /* animation: 시간의 변화에 따른 동적 효과를 줌 */ 
  width: 50px;
  height: 50px;
  margin-top: 50px;
  background-color: skyblue; 
  border: 1px solid black;
}

@keyframes ani {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(50px);
  }

  75% {
    transform: translate(0px, 50px) rotate(90deg);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.box_animation:hover {
  /*alternate 최종상태에서 진행 방향을 뒤로 바꿈*/
  animation: ani 2s ease-in-out infinite alternate;
}
