[disabled] {
  opacity: 0.2;
  color: red;
}

[type="password"] {
  opacity: 0.5;
  color: green;
}

[class^="btn-"] {
  font-weight: bold;
  border-radius: 20px;
}

[class$="success"] {
  color: green;
}

[class$="danger"] {
  color: Red;
}

/*
* 속성 선택자 
* [attr]
* 속성 attr을 포함한 요소를 선택
*
* [attr=value]
* 속성 attr을 포함하여 속성 값이 value인 요소 선택
* 
* [attr^=value]
* 속성 attr을 포함하여 속성 값이 value로 시작하는 요소 선택
* 
* [attr$=value]
* 속성 attr을 포함하여 속성 값이 value로 끝나는 요소 선택
*/
