.box {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.logo {
  width: 200px;
  height: 200px;
  animation: 3s ani infinite alternate
}

@keyframes ani {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(50px) rotate(180deg);
  }

  100% {
    transform: translate(50px, 50px) rotate(360deg);
  }
}

/*스크린 가로크기가 800px 이하 라면*/
@media screen and (max-width:800px) {
  .box {
    background-color: blue;
  }
}

/*스크린 가로크기가 600px 이하 라면*/
@media screen and (max-width:600px) {
  .box {
    background-color: orange;
  }
}

/*스크린 가로크기가 500px 이하 라면*/
@media screen and (max-width:500px) {
  .box {
    background-color: tomato;
  }
}

