@import "_variables";
@import "_mixins";

a {
  margin-bottom: 10px;
  &:nth-child(odd) {
    @include link(red);
    font-size: $title;
  }
  &:nth-child(even) {
    @include link(blue);
    font-size: $title;
  }
}