@import "_variables";
@import "_mixins";

a {
  margin-bottom: 10px;
  &:nth-child(odd) {
    @include link(odd);    
    font-size: $title;
  }
  &:nth-child(even) {
   @include link(even);
    font-size: $title;
  }
}