.box {
  background: dodgerblue;
  color: white;
  font: {
    weight: bold;
    size: 2em;
    family: sans-serif;
  };
  margin: {
    top: 10px;
    left: 20px;
  };
  padding: {
    top: 10px;
    left: 20px;
    bottom: 40px;
    right: 40px;
  };
}

/* 중첩된 속성 
 * font-, margin- 등과 같이 동일한 네임 스페이스를 가지는 속덩들은 위와 같이 사용 할 수 있다.
 */