.box {
  width: 200px;
  height: 200px;
  background-color: Tomato;
  display: inline-block;
}

/* .box:first-child { */
/*   display: block; */
/* } */

.box:last-child {
  float: right;
}

.box:first-child {
  float: left;
}

.box:nth-child(2) {
  margin-left: 25%;
}
