.parent {
  width: 300px;
  height: 250px;
  border: 4px solid;
  overflow: visible;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
}

.parent .child {
  width: 100px;
  height: 100px;  
  background: tomato;
  border: 4px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

/*
visible 넘친 부분을 자르지 않고 그대로 보여줌
hidden 넘친 부분을 잘라내고, 보이지 않도록함.
scroll 넘친 부분을 잘라내고, (강제적으로) 스크롤바를 이용하여 볼 수 있도록함.
auto 넘친 부분이 있는 경우만 잘라내고, 스크롤바를 이용하여 볼 수 있도록 함. 
*/  